- name: Exec in un pod Kubernetes
  hosts: localhost
  gather_facts: no
  environment:
    K8S_AUTH_KUBECONFIG: "{{ lookup('env', 'HOME') }}/.kube/config"

  tasks:
    - name: Esegui whoami nel pod
      kubernetes.core.k8s_exec:
        namespace: default
        pod: ansibletest-0
        command:
          - whoami
      register: result

    - debug:
        var: result.stdout
